# Zig build output
zig-out/
.zig-cache/

# VS Code
.vscode/
*.code-workspace

# Zig test output
test-output/

# Temp
*.swp
*.swo
*.tmp
*.log

# external lib
*.o
*.obj

# Build inside lib
lib/*.o
lib/*.obj
lib/*.so
lib/*.dll
lib/*.exe